@import '../../style.scss';

// .list__wrapper {
//     background-color: $main-dark-gray;
// }

.dropdown-container {
    text-align: left;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 5px;
  }
  
  .dropdown-input {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
  }
  .dropdown-menu {
    position: absolute;
    transform: translateY(4px);
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: auto;
    max-height: 150px;
    background-color: #fff;
    color: red;
  }

  .dropdown-item {
    padding: 5px;
    cursor: pointer;

    &:hover {
        background-color: #ccc;
    }
  }
  .dropdown-item.selected {
    background-color: #0d6efd;
    color: #fff;
   }
