@import '../../style.scss';

.wrapper {
    width: 810px;
    min-height: 150px;
    background-color: $dark-gray_for_pannel-color;
    &__text {
        font-size: 18px;
        line-height: 22px;
        color: $gray_for_text-color;
        & span {
            font-weight: 700;
            color: $main-red-color;
            letter-spacing: 0.015em;
        }
        & strong {
            font-weight: 800;
        }
    }
}