@import '../../style.scss';


@mixin links {
    display: block;
    width: 100%;
    height: 70px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 45px;
}

.head {
    width: 320px;
    height: 100vh;
    background-color: $dark-gray_for_pannel-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
    grid-area: one;

    &__logo {
        margin: 65px auto 0;
        width: 161px;
        height: 36px;
    }
    &__nav {
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: 85px;
    }
    &__link {
        @include links;

        &__img {
            margin-right: 10px;
        }

        &_selected {
            color: $main-red-color;
            @include links;
            background-color: $dark_for_cheked_tasks-color;
        }
        &:hover {
            background-color: $dark_for_cheked_tasks-color;
            cursor: pointer;
            transition: 0.15s;
            
        }
        &:active {
            transition: 0.3s;
        }
    }

    &__version__p {
        position: absolute;
        bottom: 20px;
    }
}

